<div>
    <h3>Piatto #@Model.Id</h3>
    <dl class="row">
        <dt class="col-sm-3">
            Nome
        </dt>
        <dt class="col-sm-3">
            @Model.Nome
        </dt>
        <dt class="col-sm-3">
            Descrizione
        </dt>
        <dt class="col-sm-3">
            @Model.Descrizione
        </dt>
        <dt class="col-sm-3">
            Tipologia
        </dt>
        <dt class="col-sm-3">
            @Model.Tipologia
        </dt>
        <dt class="col-sm-3">
            Prezzo
        </dt>
        <dt class="col-sm-3">
            @Model.Prezzo
        </dt>
    </dl>
</div>
